
# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env
.env.*
!.env.example

# OS/Tools
.DS_Store
Thumbs.db

# Logs & dumps
*.log
*.sqlite

# IDE
.vscode/
.idea/

# Project paths not tracked
/srv/nas_data/
/srv/nas_backups/

# Backups
backup_*.sql
*.tar.gz
